<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.local.sillytavern.server</string>
    <key>ProgramArguments</key>
    <array>
        <string>__NODE__</string>
        <string>__HOME__/SillyTavern/server.js</string>
    </array>
    <key>WorkingDirectory</key>
    <string>__HOME__/SillyTavern</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>__HOME__</string>
        <key>LANG</key>
        <string>en_US.UTF-8</string>
        <key>LOGNAME</key>
        <string>__USER__</string>
        <key>NODE_ENV</key>
        <string>production</string>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>USER</key>
        <string>__USER__</string>
    </dict>
    <key>RunAtLoad</key>
    <false/>
    <key>KeepAlive</key>
    <false/>
    <key>ProcessType</key>
    <string>Interactive</string>
    <key>StandardOutPath</key>
    <string>__HOME__/Library/Logs/SillyTavernServer.log</string>
    <key>StandardErrorPath</key>
    <string>__HOME__/Library/Logs/SillyTavernServer.error.log</string>
</dict>
</plist>
